button, .btn {
  outline: 0 !important; }
  button:focus, button:active, .btn:focus, .btn:active {
    outline: 0 !important; }

@media (max-width: 816px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.alert {
  -webkit-box-shadow: 0 3px 5px -2px #bbb;
  -moz-box-shadow: 0 3px 5px -2px #bbb;
  box-shadow: 0 3px 5px -2px #bbb; }

.text-primary {
  color: #1c290a; }

@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }
html, body {
  margin: 0;
  padding: 0;
  background: #e7e3cb; }

header {
  display: block;
  position: relative;
  margin: 0 0 15px;
  padding: 0 30px;
  height: 80px;
  background: #1c290a;
  color: #fff;
  font-family: "Monserrat", Helvetica, sans-serif;
  -webkit-box-shadow: 0 4px 10px -4px rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 4px 10px -4px rgba(15, 15, 15, 0.3);
  box-shadow: 0 4px 10px -4px rgba(15, 15, 15, 0.3); }
  header .title {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    line-height: 80px; }
    @media only screen and (max-width: 816px) {
      header .title {
        font-size: 1.3em; } }
  header .right {
    display: block;
    position: relative;
    float: right;
    height: 100%; }
    header .right .element {
      display: inline-block;
      position: relative;
      margin: 0;
      line-height: 80px;
      height: 100%;
      border: 0;
      overflow: hidden;
      transition: 0.2s ease; }
      header .right .element:hover {
        background: #547b1e; }
      header .right .element .btn-logout {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 15px;
        border: 0;
        background: transparent;
        width: 100%; }

main .toggle-aside,
main aside {
  float: left;
  font-family: "Monserrat", Helvetica, sans-serif;
  overflow: hidden;
  height: auto; }
  main .toggle-aside .panel-heading,
  main aside .panel-heading {
    padding: 8px 15px 5px; }
  main .toggle-aside .panel-body,
  main aside .panel-body {
    padding: 10px 0; }
    main .toggle-aside .panel-body .nav.nav-pills.nav-stacked a,
    main aside .panel-body .nav.nav-pills.nav-stacked a {
      padding: 5px 15px; }
  @media only screen and (max-width: 816px) {
    main .toggle-aside:not(.toggle-aside),
    main aside:not(.toggle-aside) {
      height: 0; }
      main .toggle-aside:not(.toggle-aside).opened,
      main aside:not(.toggle-aside).opened {
        height: auto; } }
  main .toggle-aside .glyphicon,
  main aside .glyphicon {
    font-size: 0.82em; }
  main .toggle-aside .nav-pills > li.active > a,
  main aside .nav-pills > li.active > a {
    color: #337ab7;
    background: #eff5fa; }
    main .toggle-aside .nav-pills > li.active > a:hover,
    main aside .nav-pills > li.active > a:hover {
      color: #337ab7;
      background: #eff5fa; }
  main .toggle-aside .nav-pills > li > a,
  main aside .nav-pills > li > a {
    border: 0 solid transparent;
    border-radius: 0; }
main aside div.panel:not(.no-shadow),
main .toggle-aside div.panel:not(.no-shadow),
main section div.row div.panel:not(.no-shadow) {
  -webkit-box-shadow: 0 4px 10px 0px rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 4px 10px 0px rgba(15, 15, 15, 0.3);
  box-shadow: 0 4px 10px 0px rgba(15, 15, 15, 0.3); }
@media only screen and (min-width: 817px) {
  main section {
    padding-left: 0 !important; } }
main section .headline {
  font-family: "Monserrat", Helvetica, sans-serif;
  margin: 10px 5px;
  font-size: 1.7em; }
main .btn {
  font-family: "Monserrat", Helvetica, sans-serif;
  font-size: 0.9em; }

#opening-times .panel-body {
  overflow-y: auto; }
  #opening-times .panel-body span.changed {
    color: #699a4e; }
  #opening-times .panel-body span.closed {
    color: #c75554; }
#opening-times tr > td.time {
  text-align: right;
  padding-right: 4%; }
  #opening-times tr > td.time > div {
    display: inline-block;
    min-width: 70px; }
  #opening-times tr > td.time a.changed {
    color: #699a4e; }
  #opening-times tr > td.time a.closed {
    color: #c75554; }
#opening-times .status-bar {
  display: block;
  width: 100%; }
  #opening-times .status-bar button {
    display: inline-block;
    float: left; }
  #opening-times .status-bar #status {
    display: inline-block;
    float: left;
    margin: 9px 15px 0;
    font-size: 0.8em;
    font-family: "Monserrat", Helvetica, sans-serif; }
    #opening-times .status-bar #status span {
      animation: dismiss-status 6s linear 0s 1 forwards; }
#opening-times .modal {
  text-align: center; }
  #opening-times .modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle; }
  #opening-times .modal #modalBody .input-box {
    display: block;
    position: relative;
    white-space: nowrap; }
    #opening-times .modal #modalBody .input-box input, #opening-times .modal #modalBody .input-box label {
      margin: 0;
      box-sizing: border-box;
      display: inline-block;
      width: 45%; }
      #opening-times .modal #modalBody .input-box input#inpHour, #opening-times .modal #modalBody .input-box label#inpHour {
        text-align: right; }
      #opening-times .modal #modalBody .input-box input[for=inpHour], #opening-times .modal #modalBody .input-box label[for=inpHour] {
        text-align: right; }
    #opening-times .modal #modalBody .input-box .divider {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 10%;
      text-align: center; }
@media screen and (min-width: 470px) {
  #opening-times .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%; } }

@keyframes dismiss-status {
  0% {
    opacity: 0;
    display: inline-block; }
  7% {
    opacity: 1;
    display: inline-block; }
  92% {
    opacity: 1;
    display: inline-block; }
  99% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }

/*# sourceMappingURL=admin.css.map */
