button, .btn {
  outline: 0 !important; }
  button:focus, button:active, .btn:focus, .btn:active {
    outline: 0 !important; }

@media (max-width: 816px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.alert {
  -webkit-box-shadow: 0 3px 5px -2px #bbb;
  -moz-box-shadow: 0 3px 5px -2px #bbb;
  box-shadow: 0 3px 5px -2px #bbb; }

.text-primary {
  color: #1c290a; }

@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: auto;
  min-width: 280px; }

body {
  width: 100%;
  height: 100%;
  background: #b39b76 url("/img/background-md.jpg") center center fixed;
  background-size: cover;
  overflow-x: visible; }

#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/img/raster-2x2.png") repeat center center fixed;
  overflow-x: visible; }

.container {
  overflow-x: visible; }

.font-alt {
  font-family: "Monserrat", Helvetica, sans-serif; }

nav {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0; }
  nav #navbar-collapse {
    max-height: calc(100vh - 50px) !important;
    overflow: hidden; }
    nav #navbar-collapse.in {
      overflow-y: auto !important; }
  nav div.logo {
    position: relative;
    width: 25%;
    pointer-events: none; }
    nav div.logo img {
      position: absolute;
      width: 250px;
      height: auto;
      left: 0;
      right: 0;
      margin: -5px auto 0;
      padding-right: 22px; }
      @media only screen and (min-width: 817px) and (max-width: 992px) {
        nav div.logo img {
          padding-right: 0;
          width: 160px;
          height: 160px; } }
      @media only screen and (max-width: 816px) {
        nav div.logo img {
          display: none; } }
  nav .nav-straight-open-keeper {
    height: 50px;
    width: 0;
    float: left; }

.navbar-custom {
  background-color: #dfdfdf;
  border-color: #cecece;
  border-radius: 0; }
  .navbar-custom .navbar-header {
    max-height: 50px;
    overflow: visible; }
    @media only screen and (max-width: 992px) {
      .navbar-custom .navbar-header {
        overflow: hidden; } }
  .navbar-custom .navbar-text {
    color: #5e5e5e; }
  .navbar-custom .navbar-brand {
    display: none; }
  @media only screen and (max-width: 816px) {
    .navbar-custom .navbar-brand {
      display: inline-block;
      max-width: calc(100vw - 65px);
      padding: 0 15px;
      line-height: 50px;
      white-space: normal;
      color: #1c290a; } }
  @media only screen and (max-width: 405px) and (min-width: 336px) {
    .navbar-custom .navbar-brand {
      font-size: 15px !important; }
      .navbar-custom .navbar-brand .subtitle {
        font-size: 13px; } }
  @media only screen and (max-width: 335px) {
    .navbar-custom .navbar-brand {
      font-size: inherit !important; }
      .navbar-custom .navbar-brand .headtitle {
        display: none; } }
  .navbar-custom .navbar-nav > li > a {
    color: #5e5e5e;
    transition: background-color 0.18s ease; }
    .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
      color: #1a1a1a;
      background-color: transparent; }
  .navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
    color: #3c3c3c;
    background-color: #cecece; }
  .navbar-custom .navbar-nav > .disabled > a, .navbar-custom .navbar-nav > .disabled > a:hover, .navbar-custom .navbar-nav > .disabled > a:focus {
    color: #b3b3b3;
    background-color: transparent; }
  .navbar-custom .navbar-toggle {
    border-color: #c4c4c4; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: #c4c4c4; }
    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #6f6f6f; }
  .navbar-custom .navbar-collapse,
  .navbar-custom .navbar-form {
    border-color: #cecece; }
  .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
    background-color: #cecece;
    color: #3c3c3c; }
  @media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
      color: #5e5e5e; }
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #1a1a1a;
        background-color: transparent; }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #3c3c3c;
      background-color: #cecece; }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #b3b3b3;
      background-color: transparent; } }
  .navbar-custom .navbar-link {
    color: #5e5e5e; }
    .navbar-custom .navbar-link:hover {
      color: #1a1a1a; }
  .navbar-custom .btn-link {
    color: #5e5e5e; }
    .navbar-custom .btn-link:hover, .navbar-custom .btn-link:focus {
      color: #1a1a1a; }
    .navbar-custom .btn-link[disabled]:hover, .navbar-custom .btn-link[disabled]:focus, fieldset[disabled] .navbar-custom .btn-link:hover, fieldset[disabled] .navbar-custom .btn-link:focus {
      color: #b3b3b3; }

main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-shadow: 0 0 36px -6px #000;
  -moz-box-shadow: 0 0 36px -6px #000;
  box-shadow: 0 0 36px -6px #000;
  outline: 2px solid rgba(0, 0, 0, 0.6);
  outline-offset: 0;
  position: relative;
  min-height: 100vh;
  z-index: 10;
  padding: 50px 0 0 !important;
  border-radius: 0;
  overflow: hidden; }
  main .img-marger {
    margin: 0 -30px; }
  main img.img-wide, main img.img-panorama {
    display: block;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.6); }
    main img.img-wide.img-wide, main img.img-panorama.img-wide {
      border-radius: 4px;
      -webkit-box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.8);
      box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.8); }
      main img.img-wide.img-wide.img-md-center, main img.img-panorama.img-wide.img-md-center {
        width: 60%;
        margin: 0 auto; }
  main .img-popup-trigger {
    cursor: zoom-in; }
  main blockquote {
    cursor: default; }
  main .address-addon {
    display: inline-block;
    width: 72px;
    text-align: right; }

aside#sidebar {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  position: relative !important;
  background: #1c290a;
  padding: 15px;
  font-family: "Monserrat", Helvetica, sans-serif; }
  @media only screen and (max-width: 991px) {
    aside#sidebar {
      -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0; } }
  @media only screen and (max-width: 816px) {
    aside#sidebar {
      display: none; } }
  aside#sidebar #floater {
    display: block;
    position: relative;
    margin-top: 155px;
    outline: 2px solid red;
    outline-offset: -2px; }
    aside#sidebar #floater .nav-pills {
      position: fixed;
      min-width: 200px;
      max-height: calc(100vh - 225px);
      overflow-y: auto;
      width: auto;
      margin: 15px 0; }
      @media only screen and (min-width: 1200px) {
        aside#sidebar #floater .nav-pills {
          width: 262.5px; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        aside#sidebar #floater .nav-pills {
          width: 212.5px; } }
      @media only screen and (min-width: 817px) and (max-width: 991px) {
        aside#sidebar #floater .nav-pills {
          width: 157.5px; } }
      aside#sidebar #floater .nav-pills li {
        margin: 15px 0;
        font-size: 18px;
        padding: 0;
        border-radius: 8px;
        background: #ffd45b; }
        aside#sidebar #floater .nav-pills li:not(:last-child) {
          border-bottom: 1px solid #b28300; }
        aside#sidebar #floater .nav-pills li.active a {
          color: #1c290a;
          font-weight: 600;
          background: #ffecb7;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdf84+6,ffdf84+100&0.6+0,1+2,1+62,0+100 */
          background: -moz-linear-gradient(left, rgba(255, 223, 132, 0.6) 0%, #ffdf84 2%, #ffdf84 6%, #ffdf84 62%, rgba(255, 223, 132, 0) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(255, 223, 132, 0.6) 0%, #ffdf84 2%, #ffdf84 6%, #ffdf84 62%, rgba(255, 223, 132, 0) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(255, 223, 132, 0.6) 0%, #ffdf84 2%, #ffdf84 6%, #ffdf84 62%, rgba(255, 223, 132, 0) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffdf84', endColorstr='#00ffdf84',GradientType=1 );
          /* IE6-9 */ }
        aside#sidebar #floater .nav-pills li a {
          color: #1a1a1a;
          transition: 0.2s ease;
          padding: 10px 15px;
          border-radius: 8px; }
          aside#sidebar #floater .nav-pills li a:hover, aside#sidebar #floater .nav-pills li a:focus {
            background: #ffdf84;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe4a3+6,ffdf84+100&0.7+0,1+2,1+42,1+67,0+100 */
            background: -moz-linear-gradient(left, rgba(255, 228, 163, 0.7) 0%, #ffe4a3 2%, #ffe4a3 6%, #ffe297 42%, #ffe18f 67%, rgba(255, 223, 132, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(255, 228, 163, 0.7) 0%, #ffe4a3 2%, #ffe4a3 6%, #ffe297 42%, #ffe18f 67%, rgba(255, 223, 132, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255, 228, 163, 0.7) 0%, #ffe4a3 2%, #ffe4a3 6%, #ffe297 42%, #ffe18f 67%, rgba(255, 223, 132, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffe4a3', endColorstr='#00ffdf84',GradientType=1 );
            /* IE6-9 */ }
    @media only screen and (min-width: 816px) and (max-width: 992px) {
      aside#sidebar #floater {
        margin-top: 100px; }
        aside#sidebar #floater .nav-pills {
          max-height: calc(100vh - 180px); }
          aside#sidebar #floater .nav-pills li {
            margin: 10px 5px 10px 0;
            font-size: 16px; }
            aside#sidebar #floater .nav-pills li a {
              padding: 6px 10px; } }

article {
  -webkit-flex: 1 1 75%;
  -ms-flex: 1 1 75%;
  flex: 1 1 75%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  display: block;
  background-color: #fff;
  padding: 30px; }
  article h1, article h2, article h3, article h4, article h5, article h6 {
    font-family: "Monserrat", Helvetica, sans-serif;
    text-transform: uppercase; }
  article h1 {
    text-transform: none;
    margin-bottom: 30px; }
  @media only screen and (max-width: 992px) {
    article {
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0; } }

#optim-table {
  width: auto !important;
  cursor: default; }
  #optim-table td {
    cursor: default; }
  #optim-table tbody > tr > td:first-child {
    width: 170px; }

.wl-konvention {
  transition: margin 0.3s 0.6s linear; }
  .wl-konvention .wl-konv-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out; }
  .wl-konvention.shown {
    margin: 20px 0;
    transition: margin 0.3s linear; }
    .wl-konvention.shown a {
      color: #23527c !important; }
    .wl-konvention.shown .wl-konv-text {
      max-height: 500px;
      transition: max-height 0.7s 0.3s ease-in-out; }
  .wl-konvention:first-of-type {
    margin-top: 20px; }
  .wl-konvention:last-of-type {
    margin-bottom: 0; }
  .wl-konvention a {
    transition: color 0.1s ease; }
    .wl-konvention a:hover {
      text-decoration: none; }
    .wl-konvention a:focus {
      text-decoration: none;
      color: #337ab7; }
  .wl-konvention h4 {
    padding: 0;
    margin: 3px 0; }
    .wl-konvention h4 .wl-konv-number {
      text-align: right;
      display: inline-block;
      width: 16px;
      margin-right: 5px; }

/*# sourceMappingURL=stylesheet.css.map */
