@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Monserrat;
	src: url('/fonts/Montserrat-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}